.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin-top: 1.5rem;
}

.elo {
    font-size: medium;
}

.bio {
    margin-top: 1.5rem;
}