.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}